/* Small phones to small tablet: from 481 to 767 px */
@media only screen and (max-width: 767px) {
  /* header  */
  .main-header-intro {
    width: 70%;
  }

  /* Navigation */
  .main-header__nav {
    font-size: 90%;
  }

  /* Reausable */
  .wrapper {
    max-width: calc(800px - (30px));
    max-width: -webkit-calc(800px - (30px));
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-wrapper__paragraph {
    margin-top: 10px;
  }
}

/* Small phones: from 0 to 480 px */
@media only screen and (max-width: 480px) {

  body {
    font-size: 90%;
  }
  /* header  */

  .main-header {
    margin-bottom: 50px;
  }

  .main-header-intro {
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 25px;
    width: 85%;
  }

  .main-header-intro__title {
    font-size: 180%;
  }
  .main-header-intro__sub-heading {
    font-size: 90%;
  }

  /* Navigation */
  .main-header__nav {
    display: none;
  }

  .nav-mobile {
    display: inline-block;
    font-size: 80;
    margin: auto 0;
    text-align: center;
    width: 100%;
  }

  .nav-mobile_list {
    margin: 10px 30px 20px 30px;
    text-decoration: none;
  }

  .nav-mobile .list-item {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .nav-mobile .list-item a {
    text-decoration: none;
  }

  .main-header-intro__sub-heading {
    margin-bottom: 0;
  }

  /* Reusable classes */
  .heading-title {
    font-size: 130%;
  }

  .heading-margin {
    margin: 30px 0 30px 0;
  }

  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Sections */

  .main_introduction__section__one {
    display: block;
  }

  .main_introduction__section .list_item {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    text-align: justify;
  }

  .main_introduction__section__two {
    margin-top: 20px;
  }

  .icon-big {
    font-size: 200%;
  }

  /* Code */
  pre {
    font-size: 75%;
  }

  /* Footer  */
  .footer-wrapper__logo {
    display: none;
  }

  .footer-wrapper__paragraph {
    font-size: 85%;
    margin-top: 0;
  }
}
