/* ------------------------------ */
/*  BASIC STYLE */
/* ------------------------------ */

/* Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  color: #454545;
  line-height: 1.5;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.content-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* ------------------------------ */
/*  HEADER */
/* ------------------------------ */

.main-header {
  background-color: rgba(240, 80, 81, 0.8);
  margin-bottom: 100px;
  width: 100%;
}

.main-header-intro {
  color: #fff;
  margin: 80px auto 0px auto;
  padding-bottom: 80px;
  text-align: center;
  width: 50%;
}

.main-header-intro__title {
  color: #fff;
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  word-spacing: 4px;
}

.main-header-intro__sub-heading {
  font-weight: normal;
  line-height: 1.5;
  margin: 20px auto 40px auto;
}

/* ------------------------------ */
/*  REUSABLE CLASSES */
/* ------------------------------ */

/*  Heading */
.heading-margin {
  margin: 100px 0 50px 0;
}

.heading-title {
  font-size: 160%;
  text-align: center;
}

.heading-title:after {
  background-color: #f05051;
  content: " ";
  display: block;
  height: 4px;
  margin: 0 auto;
  margin-top: 15px;
  width: 40px;
}

.sub-heading {
  margin: 15px auto 15px auto;
}

/*  Paragrafs */
.long-copy {
  margin-bottom: 10px;
  text-align: justify;
}

/* Lists */
.list-wrapper {
  line-height: 150%;
  margin: 0 auto;
  text-align: justify;
  width: 90%;
}

.list-wrapper li {
  margin-bottom: 10px;
}

/* Wrapper */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* ------------------------------ */
/*  Navigation */
/* ------------------------------ */
.nav-mobile {
  display: none;
}

.main-header__nav {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.main-header__nav a {
  text-decoration: none;
}

.main-header__logo-til {
  font-size: 120%;
  font-weight: 700;
  color: #fff;
  margin-left: 5px;
  text-decoration: none;
}

.main-header__nav-list {
  float: right;
}

.main-header__nav-list-item {
  display: inline-block;
  margin-left: 40px;
}

.main-header__nav-list-item a:link,
.main-header__nav-list-item a:visited {
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: 100%;
  padding: 8px 0;
  transition: border-bottom 0.2s;
}

.main-header__nav-list-item a:hover,
.main-header__nav-list-item a:active {
  border-bottom: 2px solid #fff;
}


/* ------------------------------ */
/*  SECTIONS */
/* ------------------------------ */

.icon-big {
  margin-right: 15px;
  font-style: normal;
  font-size: 250%;
  display: block;
  text-align: center;
}

.main_introduction__section .list_item {
  text-align: center;
  margin-right: 25px;
}

.list_item:last-child {
  margin-right: 0px;
}

.main_introduction__section__one {
  display: flex;
}

.main_introduction__section__two {
  margin-top: 45px;
  text-align: justify;
}

.last_item {
  width: 90%;
  align-items: center;
  display: flex;
}

/* ------------------------------ */
/*  FOOTER
/* ------------------------------ */

footer {
  color: #454545;
  font-size: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 25px;
  text-align: center;
}

footer a {
  color: #e46b7a;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer_logo {
  height: 34px;
  margin-bottom: 10px;
}

/* ------------------------------ */
/*  CODE FORMATTING
/* ------------------------------ */

.codepen-wrapper {
  margin-bottom: 30px;
  margin-top: 30px;
}
